<!-- flash message
    get flash mesh to show up on front end
    to do this, add handlebars template
    adjustment needed on css
-->

<div id="flash-message">
    {{#if messages.error}} <!--error from flash value-->
    <div class="alert alert-danger">
        {{messages.error}}
    </div>
    {{else}}
    <div class="alert alert-success"> <!--this div will have text node-->
        {{messages.success}}
    </div>
    {{/if}}
</div>