<nav id="nav-bar">
        <div id="brand" class="nav-items">
          <a href="index" id="brand-anchor"><h3><span 
          id="brand-text"><i style="margin-right: .2rem;">
          I</i>PA</span></h3></a>
        </div>

        <div id="search-text" class="nav-search-box">
        <input id="search-text" name="search-text"
        type="text" placeholder="Search Images">
        </div>

        <div id="text-bar-icon">
          <i id="sicon" class="fan fa-search nav-items"></i>
        </div>

        <a href="/postimage" id="post-button"
        class="nav-items anchor-buttons">Post
        </a>

        <a href="/login" id="authenticate-button"
        class="nav-items anchor-buttons">Log in
        </a>

        <a href="/registration" id="link-button"
        class="nav-items anchor-buttons">Do you need to register?
        </a>
</nav>