<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/public/css/post_style.css">
    
</head>
  <!--<head>
    
    <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>-->
  <body>
    <!-- div id="container was previously in the index.hbs
    but use it here so that it can be better managed with header, body, footer -->
    <div id="container">
      {{> banner}}
      {{> nav}}
      {{{body}}}
      {{> footer}}
    </div>
  </body>
</html>
