<!DOCTYPE html>
<html lang="en">
<!-- inside the header works for all the hbs files even after delete it from other hbs files-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    
</head>
<body>
    
    <div class="totalImg">
        Total Number of items : <span id="total">

        </span>
    </div>
    <div  class="container">

    </div>
    
</body>
<script src="../js/home.js"></script>
</html>