
body {
    /*background-color:black;*/
   
   /* Location of the image */
  background-image: url(FZdYx85s.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#1f1e1e;
  
  
  color: whitesmoke;
  text-shadow: 5px 5px 10px black;
}
  form 
  {
      border: 4px solid #e19900;
      text-shadow: black;
      background: #e199004f;
      width: 350px;
      height: auto;
      margin: auto;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      flex-direction: column;
  }
  h1{
      text-align: center;
      color: white;
      /*margin-top: 50px;*/
      text-shadow: 5px 5px 10px black;

  }
  h2{
    text-align: center;
  }
  h3{
    border-radius: 20;
  }

  label {
    color: white;
    text-shadow: 5px 5px 10px black;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #e19900;
    box-sizing: border-box;
    border-radius: 25px;
    background: text;
    color: black;
  }
  input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid #e19900;
    box-sizing: border-box;
    border-radius: 25px;
    background: text;
    color: black;
  }
  
  a.TOS_position {
    flex-wrap: nowrap;
    margin: 8px;
    align-content: center;
    align-items: center;
  }
div.TOS_and_submit{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.age_validation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 8px;
}
  .search-text-area{
    border:none;
  }
  .imgcontainer {
    text-align: center;
  }
  textarea {
    border-radius: 25px;
    width: 300px;
    height: 100px;
    padding: 12px 20px;
    margin: 10px;
    resize: none;
    overflow: scroll;
    border: 4px solid #cc8000b8
  }

  button {
    background-color: #80808073;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: red;
    cursor: pointer;
    width: 100%;

  }

  button:hover {
    opacity: 0.8;
  }

  .reset_btn {
    width: auto;
    padding: 10px 18px;
    background-color: #80808073;
    margin-left: 4px;
    /*margin-left: 4px;*/
  }

  .img_container {
    text-align: center;
    margin: 24px 0 12px 0;
    
    border-radius: 30%;
  }

  .overlay {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
    margin: auto;
  }

  span.psw {
    float: right;
    padding-top: 16px;
    margin-right: 5px;
    /*padding-top: 16px;*/
  }
  element {
      border-left-style: solid;
      border-left-width: medium;
      margin-left: 5px;
    
  }
  a#post-button {
    /*
    margin-left: 10px;
    margin-right: 10px;
    */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*background: #4c6053b0;*/
  }
  a#authenticate-button {
    margin-right: 10px;
    color:white
  }
  a#link-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*background: #4c6053b0;*/
  }
  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    /*background: #4c6053b0;*/
}
  footer#footer {
    margin-top: 20px;
    margin-bottom: 20px
    ;
  }
  /*
  div#banner {
    width: 70px;
    height: 20px;
  }*/
  
  span#banner-flex-item 
  {
    text-align: CENTER;
    color: white;
  }
  
  /*
  #container {
    width: 90%;
    height: 95vh;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr .5fr 5fr .3fr;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    "banner banner banner banner"
    "nav nav nav nav"
    "content content content content"
    "footer footer footer footer";
  }*/

  #banner{
    width:100%;
    height: 20%;
    background-color: #1a2532e3;
    grid-area: banner;
    background-color: text;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    font-size: 1.5em;
    
  }
  #banner-icon{
    margin: 1rem;
  }
  
  nav#nav-bar
  {
      width: 550px;
      height: auto;
      margin: auto;
      position: relative;
  }
  .search-form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  /*
  input[type=text]{
    padding:7px;
    border:none;
    
    font-size-size:16px;
    font-family:sans-serif;
  }*/
  button{
    float: right;
    background:#e09900;
    color:white;
    /*border-radius:0 5px 5px 0;*/
    cursor:pointer;
    position:relative;
    padding:7px;
    font-family:sans-seriff;
    border:none;
    
  }
 
  #flash-message {
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%,0);
    
  }
  #flash-message{
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    z-index: 9999; /* always top of your screen*/
    margin-left: 400;
    margin-top: 50;
  }
  #flash-message div {
    text-align: center;
  }

  .banner-flex-item{
    color: white;
  }
  #main-content{
  grid-area: content;
  padding-top: .35em;
  padding-bottom: .35em;
  display: grid;
  gap: .2rem .2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: #1a25329e;
  }
  
  p.anchor-buttons:hover {
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  /*
  #post-container {
    /*
    display: flex;
    flex-direction: row;
    align-items: flex-start;*/
    /*
    grid-area: content;
    padding-top: .35em;
    justify-self: .35em;
    passing-bottom:.35em;
    display: grid;
    grid-gap: .2rem;
    grid-gap: .2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "photoinfo comments"
    "photoinfo comments";

  }*/

  div#photo-container {
    /*
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: photoinfo;
    */
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5px auto;
    display: flex;
  }
  #post-info{
    display: inline block;
    vertical-align: middle;
  }
#post-info {
  display: inline block;
  vertical-align: middle;
  display: inline-flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-content: center;
}

  div[id=post-info] > p{
    margin-bottom: .2em;
  }
  div[post-container] > div[id^=post-]{
    flex-grow: 0;
    flex-shrink: 1;

  }
  div[post-container] > imd[id^=post-]{
    flex-grow: 1;
    flex-shrink: 1;
  }
  #comment-container {
    display: grid;
    justify-self: stretch;
    grid-area: comments;
    grid-area: comments;
    grid-template-rows: auto 5px;
    grid-template-columns: 1fr;
    gap: .2rem;
    grid-template-areas:
    "messages"
    "comment-box";
    max-height: 80vh;
  }
  img#post-image {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5px auto;
    border: 2px solid #cc8000b8;
    display: flex;
    max-width: 500px;
  }
  div#post-description {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
  #comment-box{
    /*
    padding: 0.2rem;
    max-width: 450px;
    max-height: 200px;
    display: flex;
    background-color: #1a2532;
    grid-area: comment-box;
    border-radius: 0.35rem;*/

    padding: 0.2rem;
    max-width: 500px;
    max-height: 200px;
    display: flex;
    background-color: #1a2532;
    grid-area: comment-box;
    border-radius: 0.35rem;
    margin:auto
  }
  #comment-box-text{
    flex-grow: 8;
    height: 40px;
    width: max-content;
    padding: 0.25rem;
    margin: 0.25rem;
    border: 0.0625rem solid white;
    border-radius: 0.35rem;
    background-color: white;
    resize: none;
  }
  #comment-box-button{
    padding: 0.25rem;
    margin: 0.25rem;
    height: 30px;
    line-height: 2;
    background-color: #cc8000b8;
    color: white;
    font-size: 1.5rem;
    border: 0.0625rem solid white;
    border-radius: 0.35rem;
    cursor: pointer;

  }
  #comment-box-button:hover {
    background-color:white;
    color: #232f3e;
  }

/*img#image-post-image{
  width: 300px;
  height: 400px;
  flex: 1 1 auto;
}*/
/*
div#image-post-image {*/
  /* margin-top: 0px; */
  /*flex: auto;
    display: flex;
    width: 400;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 400;
}*/
div#image-post-author {
  display: grid;
  align-content: center;
  align-items: end;
  justify-content: space-around;
}
div#info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 450px;
  background: #cc8000b8;
}
div#info {
display: flex;
flex-wrap: nowrap;
flex-direction: column;
width: 450px;
}
div#message {
  background: #cc8000b8;
}
div#image-post-date {
  margin-top: 20px;
}
div#image-post-desc {
  margin-top: 20px;
}

#messages{
  grid-area: messages;
  overFlow-y: auto;
  display: flex;
  flex-flow: column-reverse nowrap;
  scroll-behavior: smooth;
  border: 1px solid #cc8000b8;
  box-shadow: -2px 2px 4px 4px e0e0e0;
  border-radius: .35rem;
  width: 500px;
  height:200px;
  margin:auto
}

div[id^=message-]{
  display: grid;
  grid-template-row: .3fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: .2em;
  padding: .25rem;
  margin: .2rem;
  font-size: 1rem;
  border: .0625rem solid white;
  grid-template-areas:
  "author crated"
  "comment comment";
}
.author-text{
  grid-area: author;
  justify-self: start;

}
.comment-text{
  grid-area: comment;
  overflow:hidden;
  text-overflow: ellipsis;
  max-height: 75px;
  min-height: 75px;
  justify-self: center;


}
div#comment-container {
  color: #cc8000b8;
}
.data-posted{
  grid-area: createdAt;
  justify-self: end;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px)
{
    span.psw {
      display: block;
      float: none;
    }
    .reset_btn {
      width: 100%;
    }
    

}