body {
    /*background-color:black;*/
   
   /* Location of the image */
  background-image: url(FZdYx85s.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#1f1e1e;
  
  
  color: whitesmoke;
  text-shadow: 5px 5px 10px black;

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
